/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 0;
    padding: 92px 50px;
    background-color: white;
}

.header__links-list {
    display: flex;
    gap: 33px;
}

.header__links-list-item-no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    text-underline-position: under;
}

.header__link_active {
   text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
}

.adress {
    max-width: 240px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-underline-position: under;
}

.header__adress {
   justify-self: end;
}

.header__post_adress {
    padding-right: 1px;
    padding-right: 2.5px;

}

.cover {
    position: relative;
    padding: 156px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0/ .6);
    z-index: 1;
}

.cover__title {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.345;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 95px;
    z-index: 2;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18.4px;
    z-index: 2;
}

.cover__description-text {
    z-index: 2;
}

.bet-button {
    color: #fff;
    padding: 11px 32px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: transparent;
    z-index: 2;
    }

.lots {
    padding: 180px 24px 0;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    margin-left: 40px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 31px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    z-index: 2;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    z-index: 2;
}

.lots__look-more-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    margin-left: 40px;
    border-bottom: 1px solid black;
}

.about {
    padding: 157px 24px 155px;
    background-color: white;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
}

.about__logo {
    display: flex;
    justify-self: center;
    height: 240px;
    width: 240px;
    background-color: black;
    border-radius: 100%;
    margin: auto;
}

.about__logo-image {
    margin: auto;
    width: 148px;
}

.about_title {
    margin-top: 105px;
    margin-bottom: 105px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 50px 82px;
    background-color: white;
}

.footer__adress {
    justify-self: start;
}

.footer__adress_link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
}